.header-links {
    text-decoration: none;
    color: #F3F7F0;
    margin-left: 2.5rem;
}

.leaflet-container {
    width: calc(100% - 300px);
    height: calc(100vh - 150px);
}

.header {
    display: flex;
    height: 150px;
    align-items: center;
    background: #19323C;
    color: #F3F7F0;
    /*#00ABE7*/
}

.footer {
    height: 150px;
    background: #19323C;
    color: #F3F7F0;
}

.logo-img {
    padding-left: 30px;
    height: 145px;
}

.main-content {
    display: flex;
}

.nav-tools {
    border-right: solid;
    width: 300px;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
}
.device-container{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}
.user-devices{
    margin-left: 1rem;
}
.new-device-link {
    margin: 1rem;
    text-decoration: none;
    color: #00ABE7;
}

.my-location-button {
    padding: 0px;
    height: 33px;
    width: 33px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 2px solid #ccc;
    background-image: url("../src/images/location-icon.png");
    background-size: contain;
    background-position: center;
}
